[v-cloak] {
    display: none;
}
#filesContainer {
    padding: 10px;
    border: 2px solid #e3e3e3;
    height: calc(100vh - 140px);
    min-height: 300px;
    overflow: auto;
}
.file, .directory {
    padding: 15px 25px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border-bottom: 1px solid #d7d7d7;
}
.file:hover, .directory:hover {
    color: white;
    background: #45709f;
}
#path {
    padding: 8px 20px;
    background: #e3e3e3;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}
audio, video, .modal-body img {
    width: 100%;
}