{% extends "layout.html" %}
{% load static %}

{% block body %}
    {% if not user.is_authenticated %}
        <h2>Welcome ! Please log-in to discover our great features !</h2>
    {% endif %}

    {% if user.is_authenticated %}
        <div id="buttonsContainer">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-upload"></i> File</button>
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#newDirModal"><i class="fas fa-plus-circle"></i> Folder</button>
        </div>
        <div id="fileApp">
            <ol class="breadcrumb" id="path">
                <li class="breadcrumb-item"><a href="#" v-on:click="openDir()"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item" v-for="dir in paths" v-cloak v-show="dir.show"><a href="#" v-on:click="openDir(dir.id, dir.name)" >[[ dir.name ]]</a></li>
            </ol>
            <div id="filesContainer">
                <div class="sk-circle" v-show="loader">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
                <div v-for="dir in directories" v-cloak class="directory" v-show="!loader" v-on:mouseover="mouseOver(dir)"
                     v-on:mouseleave="mouseLeave(dir)">
                    <i class="fas fa-lg fa-folder fileIcon"></i>
                    <span v-on:click="openDir(dir.id, dir.name)">[[ dir.name ]]</span>
                    <div class="dropdown" v-show="dir.menuShown">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Delete</a>
                            <a class="dropdown-item" href="#">Rename</a>
                            <a class="dropdown-item" href="#">Download</a>
                        </div>
                    </div>
                </div>
                <div v-for="file in files" v-cloak class="file" v-show="!loader" v-on:click="fileClicked(file.id)">
                    <i class="far fa-lg fileIcon" :class="getFileIcon(file.type)"></i>
                    <span>[[ file.name ]]</span>
                </div>
            </div>

        </div>

        <div id="fileDetailsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fileDetailsModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">[[ fileName ]]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div id="fileContent" class="col-12 order-2 col-md-9 order-md-1"></div>
                        <div id="fileDetails" class="col-12 order-1 col-md-3 order-md-2">
                            <div class="row">
                                <div class="col-4 col-md-12">
                                    <a v-bind:href="link" target="_blank">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-download"></i>
                                            <span class="d-none d-sm-inline-block">Download</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-4 col-md-12">
                                    <button type="button" class="btn btn-outline-primary" id="renameFileBtn">
                                        <i class="fas fa-pencil-alt"></i>
                                        <span class="d-none d-sm-inline-block">Rename</span>
                                    </button>
                                </div>
                                <div class="col-4 col-md-12">
                                    <button type="button" class="btn btn-outline-danger" id="deleteFileBtn">
                                        <i class="fas fa-trash"></i>
                                        <span class="d-none d-sm-inline-block">Delete</span>
                                    </button>
                                </div>
                                <div class="col-4 col-md-12">Size: [[ size | prettyBytes ]]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="dropbox">
                            <i class="fas fa-upload" style="font-size: 60px;margin-bottom: 20px;"></i><br>
                            <span id="uploadFileName"></span>
                        </div>
                        <input type="file" id="uploadInput" style="margin-left: 3%;">
                        <progress max="100" value="0" id="uploadProgress"></progress>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="uploadBtn">Upload</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="newDirModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newDirModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create folder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       Folder name : <input type="text" id="newDirName" placeholder="Name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="newDirBtn">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/vue.min.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/app.js' %}"></script>
    {% endif %}
{% endblock %}