{% extends "layout.html" %}
{% load static %}

{% block body %}
    {% if not user.is_authenticated %}
        <h2>Welcome on MegaSupload ! </h2>
        <div class="row">
            <div class="col-5">
                <img style="max-height: 50vh;" src="{% static "img/logo_megasupload.png" %}" class="img-fluid">
            </div>
            <div class="col-7" style="margin-top: 80px;line-height: 35px;font-size: 18px;">
                MegaSupload is a free storage service.<br>
                Store up to 30 GB of data.<br>
                Preview your pictures, movies, PDF and text files.<br>
                Share what you want with who you want, privately or publicly.<br>
            </div>
        </div>
        <div class="row" style="margin-bottom: 100px;">
            <div style="text-align: center;font-size: 23px; margin-bottom:20px;" class="col-12">Try it now :</div>
            <div style="text-align: center" class="col-12">
                <a href="{% url "login" %}"><button type="button" style="width: 150px;" class="btn btn-outline-primary btn-lg">Login</button></a>
                <a href="{% url "register" %}"><button type="button" style="width: 150px;" class="btn btn-outline-secondary btn-lg">Register</button></a>
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div id="buttonsContainer">
            <button type="button" id="toggleShare" class="btn btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                <div class="handle"></div>
            </button>
            <button type="button" class="btn btn-outline-primary notForShare" data-toggle="modal" data-target="#uploadModal">
                <i class="fas fa-upload"></i>
                <span class="d-none d-sm-inline-block"> File</span>
            </button>
            <button type="button" class="btn btn-outline-primary notForShare" data-toggle="modal" data-target="#newDirModal">
                <i class="fas fa-plus-circle"></i>
                <span class="d-none d-sm-inline-block"> Folder</span>
            </button>
            <button type="button" class="btn btn-outline-primary notForShare" onclick="window.open('/api/file/download_dir?dirId=' + currentDirId)">
                <i class="fas fa-download"></i>
                <span class="d-none d-sm-inline-block"> Download folder</span>
            </button>
        </div>
        <div id="fileApp">
            <ol class="breadcrumb" id="path">
                <li class="breadcrumb-item"><a href="#" v-on:click="openDir()"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item" v-for="dir in paths" v-cloak v-show="dir.show"><a href="#" v-on:click="openDir(dir.id, dir.name)" >[[ dir.name ]]</a></li>
            </ol>
            <div id="filesContainer">
                <div class="sk-circle" v-show="loader">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
                <div v-for="dir in directories" v-cloak class="directory" v-show="!loader" v-on:click="openDir(dir.id, dir.name, $event)"
                     v-on:mouseover="dir.menuShown = true" v-on:mouseleave="dir.menuShown = false">
                    <i class="fas fa-lg fa-folder fileIcon"></i>
                    <span v-if="dir.name == '..'"><i class="fas fa-level-up-alt"></i></span>
                    <span v-else>[[ dir.name ]]</span>
                    <div class="dropdown" v-if="dir.menuShown && dir.name != '..'">
                        <button class="btn" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" v-bind:href="'/api/file/download_dir?dirId=' + dir.id"><i class="fas fa-download"></i>Download all as ZIP</a>
                            <a class="dropdown-item renameBtn" href="#" v-bind:data-id="dir.id" data-type="dir"><i class="fas fa-pencil-alt"></i>Rename</a>
                            <a class="dropdown-item moveBtn notForShare" href="#" v-bind:data-id="dir.id" v-bind:data-name="dir.name" data-type="dir"><i class="fas fa-arrows-alt"></i>Move</a>
                            <a class="dropdown-item publicShareBtn" href="#" v-bind:data-id="dir.id" data-type="dir"><i class="fas fa-share-alt"></i>Public Share</a>
                            <div class="dropdown-divider notForShare"></div>
                            <a class="dropdown-item deleteBtn notForShare" href="#" v-bind:data-id="dir.id"
                               data-type="dir"><i class="fas fa-trash"></i>Delete</a>
                        </div>
                    </div>
                </div>
                <div v-for="file in files" v-cloak class="file" v-show="!loader" v-on:click="fileClicked(file.id, $event)"
                     v-on:mouseover="file.menuShown = true" v-on:mouseleave="file.menuShown = false">
                    <i class="far fa-lg fileIcon" :class="getFileIcon(file.type)"></i>
                    <span>[[ file.name ]]</span>
                    <div class="dropdown" v-if="file.menuShown">
                        <button class="btn" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" v-bind:href="file.link" target="_blank"><i class="fas fa-download"></i>Download</a>
                            <a class="dropdown-item renameBtn" href="#" v-bind:data-id="file.id" data-type="file"><i class="fas fa-pencil-alt"></i>Rename</a>
                            <a class="dropdown-item moveBtn notForShare" href="#" v-bind:data-id="file.id" v-bind:data-name="file.name" data-type="file"><i class="fas fa-arrows-alt"></i>Move</a>
                            <a class="dropdown-item" href="#" onclick="$(this).closest('.file').click();fileView.searchIsActive = true;"><i class="fas fa-share-alt"></i>Private Share</a>
                            <a class="dropdown-item publicShareBtn" href="#" v-bind:data-id="file.id" data-type="file"><i class="fas fa-share-alt"></i>Public Share</a>
                            <div class="dropdown-divider notForShare"></div>
                            <a class="dropdown-item deleteBtn notForShare" href="#" v-bind:data-id="file.id"
                               data-type="file"><i class="fas fa-trash"></i>Delete</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="fileDetailsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fileDetailsModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">[[ file.name ]]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div id="fileContent" class="col-12 order-2 col-md-9 order-md-1"></div>
                        <div id="fileDetails" class="col-12 order-1 col-md-3 order-md-2">
                            <div class="row">
                                <div class="col-4 col-md-12">
                                    <a v-bind:href="file.link" target="_blank">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fas fa-download"></i>
                                            <span class="d-none d-sm-inline-block">Download</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-4 col-md-12">
                                    <button type="button" class="btn btn-outline-primary renameBtn" v-bind:data-id="file.id" data-type="file">
                                        <i class="fas fa-pencil-alt"></i>
                                        <span class="d-none d-sm-inline-block">Rename</span>
                                    </button>
                                </div>
                                <div class="col-4 col-md-12">
                                    <button type="button" class="btn btn-outline-primary" id="shareFileBtn" v-on:click="searchIsActive = true">
                                        <i class="fas fa-share-alt"></i>
                                        <span class="d-none d-sm-inline-block">Share</span>
                                    </button>
                                </div>
                                <div class="col-4 col-md-12 notForShare">
                                    <button type="button" class="btn btn-outline-primary moveBtn" v-bind:data-id="file.id" v-bind:data-name="file.name" data-type="file">
                                        <i class="fas fa-arrows-alt"></i>
                                        <span class="d-none d-sm-inline-block">Move</span>
                                    </button>
                                </div>
                                <div class="col-4 col-md-12 notForShare">
                                    <button type="button" class="btn btn-outline-danger deleteBtn" v-bind:data-id="file.id" data-type="file">
                                        <i class="fas fa-trash"></i>
                                        <span class="d-none d-sm-inline-block">Delete</span>
                                    </button>
                                </div>
                                <div class="col-4 col-md-12"><span class="d-none d-sm-inline-block">Size:</span> [[ file.size | prettyBytes ]]</div>
                                <div class="col-12" v-if="searchIsActive">
                                    <label for="searchUserInput">Search a user :</label>
                                    <input type="search" id="searchUserInput">
                                    <div v-for="user in searchUserResults" class="searchUserDiv" v-bind:data-userid="user.id" v-bind:data-name="user.username">Share with: [[ user.username ]]</div>
                                    <div id="checkSharePermissions" v-if="userSelected.id">
                                        [[ userSelected.name ]] <br>
                                        <label>Read</label><input type="checkbox" checked disabled>
                                        <label>Write</label><input type="checkbox" id="writePerm">
                                        <label>Share</label><input type="checkbox" id="sharePerm">
                                        <button type="button" id="submitShareBtn" class="btn btn-success">Share !</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="dropbox">
                            <i class="fas fa-upload" style="font-size: 60px;margin-bottom: 20px;"></i><br>
                            <span id="uploadFileName"></span>
                        </div>
                        <input type="file" id="uploadInput" style="margin-left: 3%;">
                        <progress max="100" value="0" id="uploadProgress"></progress>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="uploadBtn">Upload</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="newDirModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newDirModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create folder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       Folder name : <input type="text" id="newDirName" placeholder="Name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="newDirBtn">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="moveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="moveModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Move : [[ name ]]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <dir-item :model="tree"></dir-item>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="publicShareModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publicShareModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Public share</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary copyBtn" type="button">Copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/x-template" id="dirTemplate">
            <li>
                <div v-bind:data-dirid="model.id" class="dirItem"><i class="fas fa-level-down-alt"></i> [[ model.name ]]</div>
                <ul>
                    <dir-item v-for="(model, index) in model.children" :key="index" :model="model"></dir-item>
                </ul>
            </li>
        </script>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/vue.min.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/app.js' %}"></script>
    {% endif %}
{% endblock %}