{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MegaSupload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "img/cloud_ico.png" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}"/>

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url "home" %}">MegaSupload</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "upload-form" %}">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="btn btn-outline-success" href="{% url "login" %}">Login</a></li>
                    <li class="nav-item"><a class="btn btn-outline-warning" href="{% url "register" %}">Register</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" href="{% url "profile" %}">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="btn btn-outline-dark" href="#" onclick="delete localStorage.priv_key;delete localStorage.pub_key;window.location='{% url "logout" %}'">Déconnexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap4/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>
<script src="{% static 'js/forge.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>