{% extends "layout.html" %}
{% load static %}

{% block body %}
    <h1>Login</h1>

    <form class="col-md-6 offset-md-3" method="post" id="login-form">
        <div id="error-msg"></div>
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="pseudo"
                   placeholder="Login" required autofocus=""/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required/>
        </div>
        <div class="col-xs-12 text-center">
            <button class="btn btn-lg btn-primary" type="submit">Authenticate</button>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        $("#login-form").on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/api/auth/login",
                dataType: "json",
                data: JSON.stringify({
                    "username": $(this).find("input[name='pseudo']").val(),
                    "password": $(this).find("input[name='password']").val()
                }),
                success: function (res) {
                    localStorage.priv_key = res.priv_key;
                    localStorage.pub_key = res.pub_key;
                    var privateKey = forge.pki.privateKeyFromPem(localStorage.priv_key);
                    var publicKey = forge.pki.publicKeyFromPem(localStorage.pub_key);
                    var encrypted = publicKey.encrypt("coucou c'est moi\nnewline");
                    var decrypted = privateKey.decrypt(encrypted);
                    console.log(encrypted);
                    console.log(decrypted);
                    window.location = "/";
                },
                error: function (err) {
                    console.log(err.responseJSON);
                    document.getElementById("error-msg").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">" + err.responseJSON.message + "</div>";
                }
            });
        })
    </script>
{% endblock %}
